<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJYN0E2hreg7Gt53vh_PF4cmBpCTtD6N0</string>
	<key>GCM_SENDER_ID</key>
	<string>258436620859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MVVMtester.MovieAssessment</string>
	<key>PROJECT_ID</key>
	<string>movieapplogin-14a4c</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapplogin-14a4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258436620859:ios:8322fa755533e5b70ab21e</string>
</dict>
</plist>